@import '../../global.scss';

.people-description{
    border: 5px solid rgba(1,1,1,0);
    position: relative;
    padding-left: 0;
    img{
        
        width: 280px;
        border-radius: 20px;
        object-fit: cover;
        z-index: 2;
    }
    p{
        text-align: left;
        // white-space: pre-wrap;
        position: relative;
        z-index: -1;
        margin: 0;
        left: -35px;
        padding: 0.5em;
        padding-left: 3em;
    }
    p:nth-child(1){
        border: 1px solid $secondaryColor;
        border-radius: 10px;
        font-weight: 400;
        font-size: 0.8rem;
        // width: 50%;
    }
    p:nth-child(2){
        border: 1px solid $primaryColor;
        border-radius: 10px;
        font-weight: 300;
        // width: 50%;
        font-size: 0.8rem;
    }
    p ~ p {
        margin-top: 0.8em;
    }
}