@import "../../global.scss";

.events-section{
    height: 100vh;
    position: relative;
    .events-container{
        width: 80%;
        height: 80vh;
        z-index: 500;
        .events-header{
            h2{
                color: $primaryColor;
                font-weight: bold;
                font-size: 4rem;
                text-transform: uppercase;
            }
            p{
                font-size: 1.4rem;
                color: $textColor;
            }
        }
        .events-body{
            height: 100%;
            a{
                text-decoration: none;
            }
            .card-data{
                .avaaz-card-img{
                    border-top-left-radius: 2rem;
                    border-top-right-radius: 2rem;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-top-left-radius: 2rem;
                        border-top-right-radius: 2rem;
                    }
                }
                .vaccine-card-img{
                    border-top-left-radius: 2rem;
                    border-top-right-radius: 2rem;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-top-left-radius: 2rem;
                        border-top-right-radius: 2rem;
                    }
                }
                .avaaz-card-footer{
                    background-color: $secondaryColor;
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    h3{
                        color: $white;
                        font-size: 1.3rem;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
                .vaccine-card-footer{
                    background-color: $primaryColor;
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    h3{
                        color: $white;
                        font-size: 1.3rem;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    .corner-yellow-circle{
        height: 600px;
        width: 600px;
        background-color: $optionalColor;
        position: absolute;
        right: 0;
        top: 0;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}