@import "../../../global.scss";

.partners-route-container{
    width: 80%;
    margin: 0 auto;
    .partners-route-header{
        h1{
            color: $primaryColor;
            font-size: 4vw;
            text-transform: uppercase;
            font-weight: 900;
            z-index: 100;
            position: relative;
        }
        .stroke{
            color: $white;
            position: absolute;
            -webkit-text-stroke: 2px $primaryColor;
            top: 0.34vw;
            left: 0.2vw;
            z-index: 0;
        }
    }
    .partners-route-body{
        height: 60vh;
        .partners-route-brands{
            height: 100%;
            img{
                height: 17vh;
            }
            p{
                color: $textColor;
                font-size: 1.2vw;
            }
        }
    }
}