#headshot_container {
    display: flex;
    justify-content: center;
    img {
        width: 60%;
        // height: 0%;
        object-fit: cover;
        border: 6px solid #D55363;;
        border-radius: 50px;

    }
}