@import "../../global.scss";

header{
    height: 100vh;
    background-image: url("../../assets/vaccine-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .header-container{
        margin-left: 10vw;
        .header-feature-text{
            h1{
                color: $primaryColor;
                font-size: 5rem;
                text-transform: uppercase;
                font-weight: 900;
                z-index: 100;
                position: relative;
                line-height: 4.5rem;
            }
            .stroke{
                color: $white;
                position: absolute;
                -webkit-text-stroke: 1px $primaryColor;
                top: 0.05em;
                left: 0.05em;
                z-index: 0;
            }
            .red-million{
                font-weight: bold;
                color: $secondaryColor;
            }
            .signed-bold{
                font-weight: bold;
                color: $textColor;
            }
            h3{
                color: $secondaryColor;
                font-weight: 900;
                font-size: 2.4rem;
            }
            h4{
                color: $textColor;
                font-weight: 900;
                text-transform: capitalize;
                font-size: 2.1rem;
            }
            p{
                font-size: 1.2rem;
                color: $textColor;
                margin-top: 2rem;
                width: 60%;
            }
        }
    }
    .corner-blue-circle{
        height: 200px;
        width: 200px;
        background-color: $primaryColor;
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 100%;
        border-top-right-radius: 0;
    }
}

@media screen and (max-width: 900px) {
    header{
        height: auto;
        padding-bottom: 2rem;
        .header-container{
            .header-feature-text{
                margin-top: 5rem;
                h1{
                    font-size: 3.5rem;
                    line-height: 3rem;
                }
                .stroke{
                    display: block;
                }
                h3{
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                }
                h4{
                    font-size: 1.5rem;
                }
            }
        }
        .corner-blue-circle{
            display: none;
        }
    }
}