@import "../../global.scss";

.partners-section{
    height: 70vh;
    background-color: $skyBlue;
    .partners-section-header{
        h2{
            color: $primaryColor;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 3.5vw;
        }
    }
    .partners-section-body{
        width: 50%;
        margin: 0 auto;
        height: 60%;
        img{
            width: 100%;
            height: 17vh;
        }
    }
}

@media screen and (max-width: 900px){
    .partners-section{
        height: 100%;
        padding: 2rem 0;
        .partners-section-header{
            h2{
                font-size: 2rem;
            }
        }
        .partners-section-body{
            width: 100%;
            flex-direction: column;
        }
    }
}