@import "../../../global.scss";

.form-route-section{
    .form-route-container{
        width: 80%;
        margin: 0 auto;
        .main-form{
            height: 100vh;
            .main-form-header-section{
                height: 20%;
                .main-form-header{
                    h1{
                        color: $primaryColor;
                        font-size: 4vw;
                        text-transform: uppercase;
                        font-weight: 900;
                        z-index: 100;
                        position: relative;
                    }
                    .stroke{
                        color: $white;
                        position: absolute;
                        -webkit-text-stroke: 2px $primaryColor;
                        top: 0.34vw;
                        left: 0.2vw;
                        z-index: 0;
                    }
                    p{
                        color: $textColor;
                        font-size: 1.2vw;
                    }
                }
            }
            .main-form-body-section{
                form{
                    h5{
                        color: $textColor;
                        font-weight: 400;
                        font-size: 1.2vw;
                    }
                    .fa-star-of-life{
                        font-size: 0.5vw;
                        color: $secondaryColor;
                    }
                    label{
                        display: block;
                        font-weight: bold;
                        color: $textColor;
                    }
                    input, select {
                        width: 100%;
                        padding: 10px 20px;
                        border: 2px solid $border;
                        border-radius: 10px;
                        margin-top: 1rem;
                        color: $textColor;
                        outline: none;
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}