body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.form-route-section .form-route-container {
  width: 80%;
  margin: 0 auto;
}

.form-route-section .form-route-container .main-form {
  height: auto;
  padding: 2rem 0;
}

.form-route-section .form-route-container .main-form .main-form-header-section {
  padding: 2rem 0;
}

.form-route-section .form-route-container .main-form .main-form-header-section .main-form-header h1 {
  color: #3A8FC5;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  z-index: 100;
  position: relative;
}

.form-route-section .form-route-container .main-form .main-form-header-section .main-form-header .stroke {
  color: #ffffff;
  position: absolute;
  -webkit-text-stroke: 1px #3A8FC5;
  top: 0.05em;
  left: 0.05em;
  z-index: 0;
}

.form-route-section .form-route-container .main-form .main-form-header-section .main-form-header p {
  color: #4D4D4D;
  font-size: 1.2rem;
}

.form-route-section .form-route-container .main-form .main-form-body-section form h5 {
  color: #4D4D4D;
  font-weight: 400;
  font-size: 1rem;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .fa-star-of-life {
  font-size: 0.5rem;
  color: #D55363;
}

.form-route-section .form-route-container .main-form .main-form-body-section form label {
  display: block;
  font-weight: bold;
  color: #4D4D4D;
  font-size: 1.3rem;
}

.form-route-section .form-route-container .main-form .main-form-body-section form input, .form-route-section .form-route-container .main-form .main-form-body-section form select {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 1rem;
  color: #4D4D4D;
  outline: none;
}

.form-route-section .form-route-container .main-form .main-form-body-section form input:focus, .form-route-section .form-route-container .main-form .main-form-body-section form select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .form-file-upload h4 {
  display: block;
  font-weight: bold;
  color: #4D4D4D;
  font-size: 1.3rem;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .form-file-upload p {
  font-weight: 400;
  color: #666;
  margin-top: 2rem;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .form-file-upload input {
  width: 40%;
  margin-top: 2rem;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .form-file-upload input::-webkit-file-upload-button {
  background-color: red;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .form-check-upload h4 {
  display: block;
  font-weight: bold;
  color: #4D4D4D;
  font-size: 1.3rem;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .form-check-upload p {
  font-weight: 400;
  color: #666;
  margin-top: 2rem;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .form-check-upload input {
  padding: 0 0;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  margin-top: 0;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .form-check-upload input:checked {
  background-color: #3A8FC5;
}

.form-route-section .form-route-container .main-form .main-form-body-section form .submit-area button {
  outline: none;
  border: none;
  padding: 10px 56px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #B2B2B2;
  color: #4D4D4D;
  font-weight: bold;
  border-radius: 15px;
}

@media screen and (max-width: 900px) {
  .form-route-section .form-route-container {
    width: 85%;
  }
  .form-route-section .form-route-container .main-form .main-form-header-section {
    margin-top: 4rem;
    padding-bottom: 0;
  }
  .form-route-section .form-route-container .main-form .main-form-header-section .main-form-header h1 {
    font-size: 2rem;
  }
  .form-route-section .form-route-container .main-form .main-form-header-section .main-form-header .stroke {
    display: block;
  }
  .form-route-section .form-route-container .main-form .main-form-header-section .main-form-header p {
    font-size: 1rem;
  }
  .form-route-section .form-route-container .main-form .main-form-body-section form label {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  .form-route-section .form-route-container .main-form .main-form-body-section form .form-file-upload input {
    width: 100%;
  }
}
/*# sourceMappingURL=FormRoute.css.map */